@font-face{
    font-family: Parryp;
    src: url(HARRP___.TTF);
   

}

body {

    background-image: url("../images/backg1.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
 
}

.quiz {

    height: 20rem;
 
}

.inner
{
    font-family: parryp;
    letter-spacing: 3px;
    font-size: 1.5rem;
     margin: 0 auto;
     color:white;

    
}


img {
    
    height: 30%;
    
}

.nobg {

    font-family: parryp;
    letter-spacing: 3px;
    font-size: 1.5rem;
    background: none;
}

.hpw {

    color: white;
}