@font-face{
    font-family: Parryp;
    src: url(Parry\ Hotter\ 2.ttf);
    color: gray;

}

body {

    background-image: url("../images/HPWP4.jpg");
    background-repeat: no-repeat;
  
}

.quiz {

    height: 20rem;
    font-family: Parryp;
}

img {
    
    height: 30%;
    
}

.nobg {

    background: none;
}